<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.js"></script>
    <script src="app.js" defer></script>

    <title>Document</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <!-- this is a comment made with ctrl + / or cmd + / -->
                <!-- reference card button -->
                <v-btn icon="mdi-information" class="bg-yellow"
                    style="position:absolute;  z-index: 1; left: 12.64%; top:17.10%;"
                    @click="toggleOpenCloseReferenceCard"></v-btn>

                <!-- reference card -->
                <v-card width="25%" class="bg-yellow" v-if="showReferenceCard"
                    style="position:absolute; left: 10.81%; top:24.35%; z-index: 1;">
                    <v-card-title>Reference Card</v-card-title>
                    <v-card-subtitle>{{ plantName }}</v-card-subtitle>
                    <v-card-text>
                        {{actionReference1}}, {{actionReference2}}, and {{actionReference3}}
                    </v-card-text>
                </v-card>

                <!-- gameplay card button -->
                <v-btn icon="mdi-flower-poppy" class="bg-green"
                    style="position:absolute; z-index: 1; left: 70.99%; top: 23.73%;"
                    @click="toggleOpenCloseGameplayCard"></v-btn>

                <!-- gameplay card -->
                <v-card width="25%" class="bg-green text-center"
                    style="position:absolute; z-index: 1; left: 70%; top: 31.28%;" v-if="showGameplayCard">
                    <v-card-title>{{ plantName }}</v-card-title>
                    <v-btn @click="recordUserAction('water')">water</v-btn>
                    <v-btn @click="recordUserAction('prune')">prune</v-btn>
                    <v-btn @click="recordUserAction('fertilize')">fertilize</v-btn>
                    <v-card-text>
                        {{result}}
                    </v-card-text>

                    <v-card-actions>
                        <v-btn class="bg-white" @click="validateResult">Validate result</v-btn>
                    </v-card-actions>
                </v-card>


                <!-- background image -->
                <v-img :src="backgroundImage" @click="findCoordinates"></v-img>
            </v-main>
        </v-app>
    </div>


</body>

</html>