<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.js"></script>
    <script src="app.js" defer></script>

    <title>The Botanist Challenge</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-app-bar class="bg-yellow" elevation="2">
                <v-app-bar-title>The Botanist Challenge</v-app-bar-title>

                <v-spacer></v-spacer>


                <v-btn icon @click="toggleOpenCloseInstructions">
                    <v-icon>mdi-information</v-icon>
                </v-btn>
            </v-app-bar>

            <v-main>

                <!-- <v-container class="d-flex justify-center bg-green rounded-xl border"> -->

                <!-- instructions dialog -->

                <v-dialog v-model="showInstructions">
                    <v-card class="text-body-1 text-center bg-yellow">
                        <v-card-actions>
                            <v-btn icon @click="toggleOpenCloseInstructions"><v-icon>mdi-close-circle</v-icon></v-btn>
                        </v-card-actions>
                        <v-card-title>
                            Instructions:
                        </v-card-title>
                        <v-card-text>
                            Care for all 3 plants using the Reference Card sequences.
                            <br><br>
                            <strong>Icons meaning:</strong>
                            <br><br>

                            Water: <v-icon>mdi-water-pump</v-icon>
                            <br>
                            Prune: <v-icon>mdi-scissors-cutting</v-icon>
                            <br>
                            Fertilize: <v-icon>mdi-sack</v-icon>




                        </v-card-text>

                    </v-card>
                </v-dialog>


                <!-- reference button -->

                <v-btn class="bg-yellow" style="position:absolute;  z-index: 1; left: 12.64%; top:17.10%;"
                    @click="toggleOpenCloseReferenceCard" icon>
                    <v-icon>mdi-chat-question-outline</v-icon>
                </v-btn>

                <!-- reference card -->
                <v-card width="18%" class="bg-yellow" v-if="showReferenceCard"
                    style="position:absolute; left: 10.81%; top:24.35%; z-index: 1;">
                    <v-card-title>Reference Card</v-card-title>
                    <v-list>
                        <v-list-item v-for="item in subjects" :key="item.plantName">
                            <v-list-item-title><strong>{{ item.plantName }}</strong></v-list-item-title>
                            <v-list-item-subtitle>
                                {{ item.actionReference1 }}, {{ item.actionReference2 }} and {{
                                item.actionReference3 }}
                            </v-list-item-subtitle>
                        </v-list-item>
                    </v-list>
                </v-card>

                <!-- gameplay cards -->
                <v-sheet v-for="subject in subjects" :key="subject.plantName">
                    <v-btn icon class="bg-green" style="position:absolute; z-index: 1;"
                        :style="{left: subject.buttonX, top: subject.buttonY}"
                        @click="toggleOpenCloseGameplayCard(subject)">
                        <v-icon>
                            mdi-flower-outline
                        </v-icon>
                    </v-btn>

                    <v-card width="15%" class="text-center" style="position:absolute; z-index: 1;"
                        :style="{left: subject.cardX, top: subject.cardY}" v-if="subject.showGameplayCard.value">

                        <v-card-title class="bg-green mb-2">{{ subject.plantName }}</v-card-title>
                        <v-btn class="bg-green" icon @click="recordUserAction('water')">
                            <v-icon>mdi-water-pump</v-icon>
                        </v-btn>
                        <v-btn class="bg-green" icon @click="recordUserAction('prune')">
                            <v-icon>mdi-scissors-cutting</v-icon>
                        </v-btn>
                        <v-btn class="bg-green" icon @click="recordUserAction('fertilize')">
                            <v-icon>mdi-sack</v-icon>
                        </v-btn>
                        <v-card-text>
                            {{subject.result}}
                        </v-card-text>
                        <v-card-actions class="d-flex">
                            <v-btn icon class="bg-green ma-auto" @click="validateResult(subject)">
                                <v-icon>
                                    mdi-check-decagram-outline
                                </v-icon>

                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-sheet>

                <v-chip style="position: absolute; z-index: 1; left:10%; top:10%;">
                    Plants Saved: {{ finishedCount }}
                </v-chip>

                <v-img :src="backgroundImage" @click="findCoordinates"></v-img>


                <!-- challenge -->
                <!-- <v-dialog v-model="showEndDialog" persistent width="400">
                        <v-card class="text-center pa-5 bg-blue-darken-2">
                            <v-card-title>Great Work!</v-card-title>
                            <v-card-text v-if="finishedCount === subjects.length">You saved all the flowers! Great
                                job!</v-card-text>
                            <v-btn @click="location.reload()">Play Again</v-btn>
                        </v-card>
                    </v-dialog> -->
                <!-- </v-container> -->
            </v-main>
        </v-app>
    </div>


</body>

</html>