<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2025-2027 Canada Immigration Levels Plan</title>
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.js"></script>
    <script src="app.js" defer></script>
</head>

<body>
    <div id="app">
        <v-app>
            <!-- <v-app-bar>
                <v-app-bar-title>2025-2027 Canada Immigration Levels Plan</v-app-bar-title>
            </v-app-bar> -->

            <v-main class="bg-grey-lighten-3">
                <v-container>


                    <!-- sparkline -->
                    <v-row>
                        <v-col v-for="target in targets" :key="target.title" cols="6">
                            <v-card>
                                <v-card-title>{{ target.title }}</v-card-title>
                                <v-card-subtitle class="pb-4">{{ target.subtitle }}</v-card-subtitle>

                                <v-sparkline :model-value="target.trend" auto-draw></v-sparkline>

                            </v-card>
                        </v-col>
                    </v-row>


                    <!-- stepper -->
                    <v-stepper :items="policies" class="mt-6">
                        <template v-for="(policy, index) in policies" :key="index"
                            v-slot:[`item.${index+1}`]="{ item }">
                            <v-card>
                                <v-card-title>
                                    {{ policy.title }}
                                </v-card-title>
                                <v-card-text>
                                    {{policy.description}}
                                </v-card-text>
                            </v-card>
                        </template>
                    </v-stepper>

                    <!-- data table -->
                    <v-data-table :items="immigrationCountries" class="mt-6"></v-data-table>

                </v-container>
            </v-main>
        </v-app>
    </div>
</body>

</html>